@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');

@import "config.scss";
@import "slider.scss";
@import "header.scss";

body {
    font-family: $font-primary;
}

[disabled] {
    display: none;
}

* {
    box-sizing: border-box;
}